<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pyne Resto</title>
  <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <a href="#main-content" class="skip-to-content" tabindex="0">Skip To Content</a>
<header>
  <div class="navbar">
    <div class="navbar-left"> 
        <a href="/" class="active">Home</a>
        <a href="#" class="fav">Favorite</a>
        <a href="https://portofoliofidnhafid.000webhostapp.com/Web_Protofolio_Hafid%20Nurmajid/" class="about">About Us</a>
    </div>

    <div class="navbar-center">
      <div id="menuToggle" class="navbar-toggler">
        <button type="button" tabindex="0" aria-controls="menu" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul id="menu" class="navbar-menu">
          <a href="#" class="signin">Sign In</a>
          <a href="#" class="signup">Sign Up</a>
          <a href="/"><li>Home</li></a>
          <a href="#"><li>Favorite</li></a>
          <a href="https://portofoliofidnhafid.000webhostapp.com/Web_Protofolio_Hafid%20Nurmajid/"><li>About Us</li></a>
        </ul>
      </div>
    
      <img src="./images/heros/PyneResto_Logo.png" width="150" alt="PyneResto Logo">
    </div>
    <div class="navbar-right">
      <a href="#" class="signin">Sign In</a>
      <a href="#" class="signup">Sign Up</a>
    </div>
  </div>
</header>
<main>
  <div class="hero-container">
    <div class="hero-slider">
      <img src="./images/heros/hero-image_2.jpg" alt="Resto 1" width="300" />
      <img src="./images/heros/hero-image_4.jpg" alt="Resto 2" width="300" />
    </div>
    <button class="prev-btn">&lt;</button>
    <button class="next-btn">&gt;</button>
  </div>

  <div id="main-content">
    <div id="restaurants-list" class="restaurant-container" class="restaurant-name">
      <h1>EXPLORE'S<br>
        PYNERESTO
      </h1>
    </div>

    <footer id="contact">
      <div class="in-screen">
        <div>
          <h5>Info</h5>
        </div>
        <div>
          <h5>Contact</h5>
        </div>
        <div>
          <h5>Help</h5>
        </div>
        <div>
          <h5>Sitemap</h5>
        </div>
      </div>
      <div class="in-screen">
        <div class="copyright">Copyright &copy; 2024 PhyneResto. Design by Hafid Nurmajid cp</div>
      </div>
    </footer>
  </div>
</main>

<script type="module" src="../scripts/index.js"></script>

</body>
</html>
